
.headtx{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 88px;
    display: flex;
    justify-content: center;
    color: #ffff;
}
.card{
    width: 303px;
    height: 407px;
    background: #000A0C;
    border: 4px solid #68D4E8;
    box-sizing: border-box;
    box-shadow: 0px 0px 100px rgba(104, 212, 232, 0.8);
    border-radius: 9px;
}
.tbc{
    position: absolute;
    width: 295px;
    height: 113px;
    left: 0px;
    top: 0px;
    background: #68D4E8;
}
.linked{
    position: absolute;
    left: 132.71px;
    top: 225.71px;
}
.name{
    position: absolute;
    width: 190px;
    height: 29px;
    left: 57px;
    top: 276px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    color: #68D4E8;
}
.details{
    position: absolute;
    width: 88px;
    height: 29px;
    left: 108px;
    top: 314px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}
.date{
    position: absolute;
    width: 190px;
    height: 29px;
    left: 60px;
    top: 348px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}
.pic{
    position: absolute;
    width: 153px;
    height: 153px;
    left: 75px;
    top: 57px;
    border-radius: 100px;
    border: 6px solid #000A0C;
    box-sizing: border-box;
}