.headtx {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 80px;
  justify-content: center;
  color: #ffff;
}
.card {
  width: 280px;
  height: 376.068px;
  background: #000a0c;
  border: 4px solid #68d4e8;
  box-sizing: border-box;
  border-radius: 9px;
  margin: auto 5px;
}
.card:hover {
  box-shadow: 0px 0px 50px rgba(104, 212, 232, 0.8);
  transform: translateY(-25px);
  transition-duration: 800ms;
  background-image: linear-gradient(90deg, #08c5ff27, #08c5ff28);
}
.tbc {
  position: absolute;
  width: 272.58px;
  height: 105px;
  left: 0px;
  top: 0px;
  background: #68d4e8;
}
.linked {
  position: absolute;
  left: 120.62404px;
  top: 208.55604px;
}
.name {
  position: absolute;
  width: 100%;
  /* height: 26.796px; */
  top: 255.024px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 900;
  font-size: 1.2rem;
  text-align: center;
  color: #68d4e8;
}
.details {
  position: absolute;
  width: 100%;
  height: 26.796px;
  top: 290.136px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 0.8rem;
  text-align: center;
  color: #ffffff;
}
.date {
  position: absolute;
  width: 100%;
  height: 26.796px;
  top: 321.552px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 0.9rem;
  text-align: center;
  color: #ffffff;
}
.pic {
  position: absolute;
  width: 141.372px;
  height: 141.372px;
  left: 66.528px;
  top: 52.668px;
  background-color: #000a0c;
  border-radius: 100px;
  border: 6px solid #000a0c;
  box-sizing: border-box;
}
.sp {
  background-color: #000a0c;
  height: 20px;
}
