body {
  font-size: 100%;
}
.Main {
  background-image: url("../images/bg.png");
  background-size: cover;
  height: 100vh;
  width: 100%;
  top: 0%;
  z-index: -2;
  /* position: absolute; */
  overflow: hidden;
}
@font-face {
  font-family: heading;
  src: url("../fonts/METAG___.TTF");
}

#banner {
  display: flex;
  justify-content: center;
  align-items: center;
}
#text {
  font-family: heading;
  color: white;
  font-size: 60px;
  position: absolute;
  z-index: 5;
  /* vertical-align: middle; */
  transform: translateY(200%);
}
#text::after {
  content: "'22";
  z-index: 5;
  color: aqua;
}
#text::before {
  content: "Making Impossible Inevitable";
  z-index: 5;
  right: 0%;
  bottom: 0%;
  font-size: 10px;
  position: absolute;
  color: aqua;
}

.shine {
  mix-blend-mode: screen;
}

.images {
  display: block;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  bottom: 0%;
}
.chatbot {
  width: 10vw;
  height: 10vw;
  position: absolute;
  bottom: 2%;
  right: 2%;
  z-index: 6;
}
@media only screen and (min-width: 1100px) {
  .globe {
    bottom: 0%;
    height: 90vh;
    width: 100vw;
    z-index: 2;
    position: absolute;
  }
  .lines {
    object-fit: contain;
    bottom: 0%;
    height: 90%;
    width: 100%;
    z-index: 3;
    position: absolute;
    mix-blend-mode: color-dodge;
  }
  .shine {
    height: 100vh;
    width: 100vw;
    transform: translateY(10%);
  }
}

@media (max-width: 1100px) and (min-width: 900px) {
  .globe {
    bottom: 0%;
    height: 90vh;
    width: 100vw;
    z-index: 2;
    position: absolute;
  }
  .lines {
    object-fit: contain;
    height: 90vh;
    width: 100vw;
    z-index: 3;
    bottom: 0%;
    position: absolute;
    mix-blend-mode: color-dodge;
  }
  .shine {
    height: 90vh;
    width: 100vw;
    transform: translateY(20%);
  }
}
@media (max-width: 900px) and (min-width: 750px) {
  #text {
    font-size: 50px;
    transform: translateY(270%);
  }
  #text::before {
    font-size: 9.5px;
  }
  .globe {
    bottom: 0%;
    height: 80vh;
    width: 100vw;
    z-index: 2;
    position: absolute;
  }
  .lines {
    object-fit: contain;
    bottom: 0%;
    height: 75vh;
    width: 100vw;
    z-index: 3;
    position: absolute;
    mix-blend-mode: color-dodge;
  }
  .shine {
    height: 80vh;
    width: 100vw;
    transform: translateY(35%);
  }
}

@media (max-width: 750px) and (min-width: 500px) {
  #text {
    font-size: 50px;
    transform: translateY(38vh);
  }
  #text::before {
    font-size: 9.5px;
  }
  .globe {
    bottom: 0%;
    height: 80vh;
    width: 100vw;
    z-index: 2;
    position: absolute;
  }
  .lines {
    bottom: 0%;
    height: 70vh;
    width: 100vw;
    z-index: 3;
    position: absolute;
    mix-blend-mode: color-dodge;
  }
  .shine {
    height: 75vh;
    width: 100vw;
    transform: translateY(45%);
  }
}
@media (max-width: 500px) {
  #text {
    font-size: 40px;
    transform: translateY(40vh);
  }
  #text::before {
    font-size: 7.5px;
  }
  .globe {
    bottom: 0%;
    height: 60vh;
    width: 100vw;
    z-index: 2;
    position: absolute;
  }
  .lines {
    position: absolute;
    bottom: 0%;
    height: 60vh;
    width: 100vw;
    z-index: 3;
    mix-blend-mode: color-dodge;
  }
  .shine {
    bottom: 0%;
    height: 60vh;
    width: 100vw;
    transform: translateY(85%);
  }
}
