@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");

body {
  font-size: 100%;
}
.Main {
  background-image: url("../images/bg.png");
  background-size: cover;
  height: 100vh;
  width: 100%;
  top: 0%;
  z-index: -2;
  /* position: absolute; */
  overflow: hidden;
}
@font-face {
  font-family: heading;
  src: url("../fonts/METAG___.TTF");
}
#animate {
  position: relative;
  transform: translateY(25vh);
}
#banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
#text {
  font-family: heading;
  position: relative;
  color: white;
  font-size: 80px;
  z-index: 5;
}
#text::after {
  content: "'22";
  z-index: 5;
  color: aqua;
}
#text::before {
  /* content: "Making Impossible Inevitable"; */
  z-index: 5;
  right: 0%;
  bottom: 0%;
  font-size: 19px;
  position: absolute;
  color: aqua;
  font-family: "Montserrat", sans-serif;
}

.shine {
  mix-blend-mode: screen;
  bottom: 0%;
}

.images {
  display: block;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  bottom: 0%;
}
.chatbot {
  width: 5vw;
  height: 5vw;
  position: absolute;
  bottom: 3%;
  right: 3%;
  z-index: 6;
}
#btndiv {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(60vh);
  z-index: 5;
}

#countdown {
  bottom: 0%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  z-index: 5;
  font-size: 12px;
  width: 30%;
  color: aqua;
}
.count {
  width: 25px;
  text-align: center;
  font-weight: bold;
  padding-top: 2vw;
}
.day-time,
.hour-time,
.minute-time,
.second-time {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  width: 30px;
  height: 30px;
  font-size: 15px;
  border: solid aqua 1px;
  border-radius: 2px;
}

@media only screen and (min-width: 1100px) {
  #countdown {
    width: 20%;
  }
  .globe {
    bottom: 0%;
    height: 75vh;
    width: 100vw;
    z-index: 2;
    position: absolute;
  }
  .lines {
    object-fit: contain;
    bottom: 0%;
    height: 90%;
    width: 100%;
    z-index: 3;
    position: absolute;
    mix-blend-mode: color-dodge;
  }
  .shine {
    height: 70vh;
    width: 100vw;
    /* transform: translateY(-30%); */
  }
}

@media (max-width: 1100px) and (min-width: 900px) {
  #animate {
    transform: translateY(30vh);
  }
  #countdown {
    width: 23%;
  }
  #text {
    font-size: 75px;
  }
  /* #text::before {
    font-size: 18px;
  } */
  .globe {
    bottom: 0%;
    height: 70vh;
    width: 100vw;
    z-index: 2;
    position: absolute;
  }
  .lines {
    object-fit: contain;
    height: 80vh;
    width: 100vw;
    z-index: 3;
    bottom: 0%;
    position: absolute;
    mix-blend-mode: color-dodge;
  }
  .shine {
    height: 70vh;
    width: 100vw;
    /* transform: translateY(-30%); */
  }
}
@media (max-width: 900px) and (min-width: 750px) {
  #animate {
    transform: translateY(30vh);
  }

  #text {
    font-size: 70px;
  }
  #text::before {
    font-size: 16px;
  }
  .globe {
    bottom: 0%;
    height: 70vh;
    width: 100vw;
    z-index: 2;
    position: absolute;
  }
  .lines {
    object-fit: contain;
    bottom: 0%;
    height: 75vh;
    width: 100vw;
    z-index: 3;
    position: absolute;
    mix-blend-mode: color-dodge;
  }
  .shine {
    height: 70vh;
    width: 100vw;
    /* transform: translateY(-28%); */
  }
}

@media (max-width: 750px) and (min-width: 600px) {
  #animate {
    transform: translateY(30vh);
  }
  #text {
    font-size: 65px;
  }
  #text::before {
    font-size: 15px;
  }
  .globe {
    bottom: 0%;
    height: 65vh;
    width: 100vw;
    z-index: 2;
    position: absolute;
  }
  .lines {
    bottom: 0%;
    height: 70vh;
    width: 100vw;
    z-index: 3;
    position: absolute;
    mix-blend-mode: color-dodge;
  }
  .shine {
    height: 70vh;
    width: 100vw;
    transform: translateY(5%);
  }
}
@media (max-width: 600px) {
  #btndiv {
    transform: translateY(35vh);
  }
  #animate {
    transform: translateY(30vh);
  }
  #countdown {
    width: 50%;
  }
  #text {
    font-size: 35px;
  }
  #text::before {
    font-size: 9px;
  }
  .globe {
    bottom: 0%;
    height: 40vh;
    width: 100vw;
    z-index: 2;
    position: absolute;
  }
  .lines {
    position: absolute;
    bottom: 0%;
    height: 60vh;
    width: 100vw;
    z-index: 3;
    mix-blend-mode: color-dodge;
  }
  .shine {
    bottom: 0%;
    height: 50vh;
    width: 100vw;
    transform: translateY(75%);
  }
}
