a {
  font-size: 20px;
  color: rgb(5, 5, 39);
  font-family: "Montserrat", sans-serif;
}
a:hover {
  animation: fade-up;
  color: rgb(5, 5, 39);
}
.navbar {
  background: transparent;
  width: 100%;
  color: rgb(5, 5, 39);
  padding: 0px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
  /* position: fixed; */
}
.navbar-brand {
  font-family: heading;
  font-size: 20px !important;
  color: white;
  padding: 0px !important;
}
/* nav .justify-content-end {
  padding-right: 38px;
} */
.nav-toggler {
  position: absolute;
  left: 0%;
}
.collapse {
  /* border: solid aqua 1px; */
  /* background-color: white; */
  border-radius: 5px;
}
.nav-item {
  border: solid aqua 1px;
  padding-left: 10px;
}
#registration {
  position: absolute;
  right: 10%;
  top: 4%;
  background: transparent;
  border: solid white 2px;
}
