@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');

.events-section img{
  vertical-align: bottom ;
  display: unset;
}
.events-section{
    font-family: 'Montserrat', sans-serif;
    /* margin: 0; */
    /* height:100vh; */
    position: relative;
    background-color: #000;
  }
  .events-shelf{
    margin-top: 50px;
    display: flex;
    align-items: baseline;
    justify-content: center;
    /* height:100vh; */
  }
  
  .events-book{
    width:9vw;
    transition: transform 1s;
  }
  .events-book:not(:first-child){  
    margin-left: -5vw;
  }
  .events-book:hover{
    transform: translateX(-60px) translateY(-20px);
  }
  .events-book:hover~.events-book{
    transform: translateX(0px);
  }
  
  .events-heading{
    font-size: 2rem;
    text-align: center;

    top:10vh;
    color:#ffffff;
  }
  .events-heading-span{
    color:#85eefb;
  }
  .events-modal{
     position: absolute;
      display: none;
      z-index: 1;
      height: 100%;
      width: 100%;
  }
  .events-modal.show{
    display:block;
  }
  .events-modal-container{
      padding: 20px;
      /* display: flex; */;
      justify-content: space-evenly;
      /* height:50vh; */
      /* width:40vw; */
      position: relative;
      margin:auto;
      top:25%;
    background:#85eefb;
  }
  .events-modal-page1{
    flex-basis: 0;
    flex-grow: 1;
  }
  .events-modal-page1 > img{
     
      position: relative;

      /* height: 80%; */
  }
  .events-modal-page2{
    flex-basis: 0;
    flex-grow: 1;
  }

  .events-modal-close{
      position: absolute;
      right:10px;
      top:10px;
      cursor: pointer;
  }
  @media only screen and (max-width: 800px) {
    .events-modal-container{
        top:10vh;
        /* height: 70vh;
        width: 60vw; */
        text-align: center;
        display: block;
    }
    .events-modal-page1{
        height: 50%;
    }
    .events-modal-page2{
        height: 50%;
    }
    .events-book{
        width: 11vw;
    }
    .events-book:not(:first-child){  
        margin-left: -6vw;
      }
  }